/*inicio*/
body.index{
    background-image:url("../imagenes/index.png");
    background-position: center center;	  
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*login y registro*/
body.login{
    background-image:url("../../Proyecto-integrado/imagenes/login.jpg");
    background-position: center center;	  
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
article.cuadro{
    background-color: rgba(46, 177, 227, .8);
    border-style: solid;
    border-color: #3452FF;
    border-radius: 12px;
    border-width: 6px;
}
/*Cartelera*/
body.cartelera{
    background-image:url("../../Proyecto-integrado/imagenes/cartelera.webp");
    background-position: center center;	  
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
header.cabecera{
    background-color:rgba(245, 198, 97, .5);
}
nav.menu{
    /* background-color:rgba(0, 255, 222, .6); */
    background-color:rgba(252, 69, 0, .9);
}
.princ{
    background-color: rgba(187,183,182,.7);
    border-radius: 50px;
}
/* valoracion */
label.estr{ 
    color:grey;
}
input.estr{ 
    display:none;
}
.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}
label.estr:hover{
    color:orange;
}
label.estr:hover ~ label.estr {
    color: orange;
}
  
input.estr:checked ~ label {
    color: orange;
}
.elec{
    border-right: 6px solid gray;
}
/* Insertar pelicula */